@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(rgb(70, 0, 55), rgb(16, 0, 22) ) ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.slide{
  height: 80vh;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  position: relative;
  transition: all ease-in-out 500ms;
}

.slide h3{
  margin: 0;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0;
}
.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: ease-in 0.3s;
}